@media screen and (max-width: 767px){
    .tattoo-machine{
		position: absolute;

		top: 0;
		right: -50px;

        z-index: -2;
	}
    .tattoo-machine img{
        height: 250px;
    }

    .pencil{
        position: absolute;

        top: 0;
        left: 0px;

        z-index: -2;
    }
    .pencil img{
        height: 250px;
    }

    .leaf-left{
        position: absolute;

        z-index: -2;

        top: 50px;
        left: 0;
    }
    .leaf-left img{
        height: 350px;
    }

    .leaf-right{
		position: absolute;

		z-index: -2;

		top: 0;
		right: 0;
	}
    .leaf-right img{
        height: 350px;
    }
    .ipad{
        top: -200px;
        right: auto;
        left: 180px;

        z-index: -2;
    }
    .ipad img{
        height: 450px;
    }


    .container{
        padding-left: 40px;
        padding-right: 40px;
    }

    /* header */

    header .logo img{
		height: 30px;
	}

    header .button{
        max-width: 150px;
        height: 48px;
    }

    header .menu{
        display: none;
    }

    header .mobile-menu{
        display: block;
    }

    header .mobile-menu img{
        filter: invert(1);
    }

    h1{
        font-size: 64px;
        line-height: 64px;
    }

    .main-block{
        padding: 100px 0;
    }

    .main-heading{
        height: 120px;
    }
    .main-heading.green .text-shadow{
        font-size: 120px;
        line-height: 120px;
    }
    .main-heading.green h1{
        font-size: 64px;
        line-height: 64px;
    }
    .main-heading .text-shadow{
        left: -50px;

        font-size: 120px;
        line-height: 120px;
        z-index: 0;
    }

    .main-content{
        margin-bottom: 0;
        max-width: 350px;
    }
    .main-block button{
        margin-top: 40px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }

    .also{
        top: 0;
    }


    footer::before{
        height: 150px;
        bottom: 100%;
    }
    footer .container{
        padding-top: 50px;
    }
    footer h2.cyberthrone{
        font-size: 72px;
        line-height: 72px;
    }

    .social img{
        height: 48px;
    }

    .creator{
        padding: 100px 0 0 0;
    }
    .dss{
        display: none;
    }

    .first-col{
        margin-top: 0;
    }
    .second-col{
        margin-top: 0;
    }
    .third-col{
        margin-top: 0;
    }

    footer.footer-draws{
        display: flex;

        width: 100%;
        height: 571px;

		background-size: cover;
		background-position: 50% top;
		background-attachment: scroll;

        bottom: -571px;
    }

    .tattoo-mainpage .menu-block{
        position: relative;

        top: auto;
        left: auto;
        right: auto;
        bottom: auto;

    }

    .index-mobile{
        height: 100vh;
    }
    .index-mobile #wrapper{
        height: 100%;
        overflow: scroll !important;
        overflow-x: hidden !important;
    }
    .index-mobile .container{
        height: 50%;
        transition: 0.3s ease;
    }
    .index-mobile .container:hover{
        filter: brightness(115%);
    }

}
@media screen and (min-width: 320px) and (max-width: 767px){
    header .logo img{
        height: 40px;
    }
}